.search {
  display: flex;
  max-width: 631px;
  height: 52px;
  background-color: var(--bg-color-secondary);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.search__input {
  width: 90%;
  background-color: var(--bg-color-secondary);
  color: var(--text-color-search);
  padding: 18px 26px 15px;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.687%;
}

.search__input::placeholder {
  color: var(--text-color-search);
}

.search__input:focus {
  outline: none;
}

.search__button {
  background: transparent;
  margin-right: 24px;
  border: none;
  height: 25px;
  width: 25px;
  background: url('../../assets/search-icon.svg') no-repeat center;
  object-fit: contain;
}
