:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*colors*/
  --text-color-main: #474955;
  --text-color-secondary: #ffffff;
  --text-color-accent: #7ebc3c;

  --text-color-search: #b2b7bf;
  --text-color-sort: #fcfcfc;

  --bg-color-primary: #474955;
  --bg-color-secondary: #5a5c66;

  --border-color-table: #e3e6ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 23px auto 12px;
}

.hovered {
  transition: all 0.5s;
}

.hovered:hover {
  cursor: pointer;
  opacity: 0.8;
}
