:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*colors*/
  --text-color-main: #474955;
  --text-color-secondary: #FFFFFF;
  --text-color-accent: #7EBC3C;


  --text-color-search: #B2B7BF;
  --text-color-sort: #FCFCFC;


  --bg-color-primary: #474955;
  --bg-color-secondary: #5A5C66;


  --border-color-table: #E3E6EC
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 23px auto 12px;
}


